<h1>Dummy</h1>

<%= render_dismissible_block 'lorem' do %>
  <div data-dismissible>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
      <a href="#" data-dismissible-hide>Hide</a>
    </p>
  </div>
<% end %>

<br>

<%= render_dismissible_block 'ipsum' do %>
  <div data-dismissible>
    <p>
      Ipsum etiam blandit erat quis ipsum cursus porttitor.
    </p>
    <p>
      <a href="#" data-dismissible-hide>Hide</a>
    </p>
  </div>
<% end %>

<p>
  <%= link_to 'Logout', logout_path %>
</p>
