/*
 *= require_self
 */

.flash, [data-dismissible] {
  border: 2px solid #333;
  padding: 10px 20px;
  background-color: #eee;
}
.flash-alert {
  border-color: #ebccd1;
  background-color: #f2dede;
}
.flash-notice {
  border-color: #bce8f1;
  background-color: #d9edf7;
}
